*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    /* font-family: 'Gowun Dodum', sans-serif; */
}
a{
    /* quitar el subrayado por defecto de enlaces */
    text-decoration: none; 
}
.contenedor{
    width: 90%; /*ocupara el 90% del contenedor*/
    max-width: 900px; /*su tamaño maximo*/
    margin: auto; /*centrar contenedor*/
    /*quitar borde despues, solo es para ver dimencion del contenedor*/
    /* border: 2px solid #000000; */
}


/******************************************************************
                            HEADER 
******************************************************************/
header{
    /*Separa todo de la parte de arriba*/
    padding: 40px 0;
}

.encabezado{
    text-align: center;
    margin-bottom: 40px;
}

.encabezado p{ /*da formato al parrafo del encabezado*/
    color: #999999;
}

form{
    width: 100%; /*Tiene todo el tamaño del contenedor*/
    display: flex; /*Todo dentro del formulario sea flexible*/
    justify-content: center; /*centrar contenido*/
    margin-bottom: 20px;
}
.barra-busqueda{
    width: 70%; /*ocupara el 70% del contenedor*/
    height: 45px;
    line-height: 1.6; /*altura de cada renglon*/
    background-color: #FFF;
    padding: 0 20px; /*Solo separacion a los lados y no tener el texto pegado*/
    border-radius: 100px; /*hace redondeado el cuadro*/
    border: none; /*quita el borde*/
    text-align: center;
    font-size: 16px;
    outline: none;/*quitar borde al seleccionar elemento*/
}

.categorias{
    display: flex; /*hacer el contenido flexible*/
    justify-content: center;   /*centrar contenido*/
    flex-wrap: wrap; /*irlo desplazando para abjajo si se reduce el espacio*/
}

.categorias a{
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 15px;
    font-weight: 700;
}

.categorias a.activo{
    color: #000;
}


/******************************************************************
                            GRID
******************************************************************/

.grid{ /*Es la clase del contenedor de la seccion para grid*/
    position: relative; /*el contenido conserva su espacio en DOM aunque se mueva*/
    width: 100%;
    opacity: 0; /*para que todo tenga opacidaad 0 y no se vea*/
    transition: opacity 0.9s linear 0.5s;

}

.imagenes-cargadas{ /*esto se aplicara con JS para que aparezcan las img*/
    opacity: 1;
}

.grid .item{ /*es el contenedor para los elementos*/
    /*El contenido no conserva su espacio en DOM, por lo tanto, se sobreponen los otros*/
    position: absolute; 
    display: block; /*se acomodan en bloques*/
    padding: 0;
    margin: 10px; /* margen en los 4 lados */
    /* El ancho del contenedor sera calculado para tres, se resta el margin */
    width: calc(33.33333% - 20px);
}   

.grid .item-contenido{
    position: relative; /*conserva espacio en DOM*/
}

.grid .item img{
    width: 100%; /*Para que ocupe el 100% de su contenedor*/
    cursor: pointer; /*cambia el estilo del cursor al estar sobre las img*/
    vertical-align: top;
    border-radius: 15px;
}

/******************************************************************
                            Over Lay
******************************************************************/

.overLay{
    position: fixed; /*deja la caja fija en la pantalla aunque se desplace*/
    top: 0px; /*ajustar a la pantalla*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000d; /*fondo negro un poco transparente */
    width: 100%; /*ocupara toda la pantalla*/
    height: 100vh; /*ocupa todo el alto del dispositivo*/
    /*display flex sirve para poder mover los elementos dentro del contenedor*/
    display: none; /*no mostrara el contenedor hasta que se habilite*/
    align-items: center; /*centrar la alineacion de los elementos verticalmente*/
    justify-content: center;/*ajusta horizontalmente al centro*/
    flex-direction: column; /*para que los elementos se acomoden en columna*/
    padding-top: 25px;
}

.activo{
    display: flex; 
}

.overLay img{
    max-width: 100%; /*ocupe el maximo tamaño la imagen*/
    border-radius: 15px;
}

.overLay .descripcion{ /*dentro de la clase overlay afecta la clase descripcion*/
    display: block;
    background: #fff;
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%; /*50% de la pantalla*/
}

.contenedor-img{
    position: relative;
}

.overLay #boton-cerrar{/*boton*/
    background: #fff;
    border-radius: 8px;
    /* color: #fff; */
    max-width: 25px;
    min-width: 25px;
    cursor: pointer; /*manita*/
    position: absolute; /*no conserva espacio en DOM, por lo tanto se puede sobreponer*/
    right: -25px; /*ajustar boton en esquina superior derecha*/
    top: -25px;
}


/******************************************************************
                            Footer 
******************************************************************/

footer .redes-sociales{ /* alinear el contenido */
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a img{
    display: block; /*para que sean bloques y se pueda modificar tamaños*/
    width: 60px;
    height: 60px;
    background: transparent;
    margin: 20px;
    transition: .3s ease all;
}

.contenedor-icono:hover{ /*se drea la animacion*/
    animation: icono 1s ease; /*velocidad de animacion*/
}

@keyframes icono{ /*empieza en su posicion normal y gira en el eje z 360 grados*/
    from{
        transform: rotate3d(0,0,0, 0);
    }
    to{
        transform: rotate3d(0,0,1, 360deg);
    }
}

.diseñador{
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: rgb(250, 63, 63);
}

.diseñador a{color: rgb(0, 0, 0);}/*color de los enlaces*/
.diseñador a:hover{text-decoration: underline;}/*al poner cursor colocar linea*/


/******************************************************************
                            Mediaqueries 
******************************************************************/
/* Ajustar para dispositivos mobiles */
@media screen and (max-width:700px) {
    .grid .item{
        width: calc(50% - 20px);
    }

    .barra-busqueda{
        width: 100%;
    }

    .overLay .contenedor-img{
        max-width: 90%; /*ocupe el maximo tamaño la imagen*/
        
        align-content: center;
        align-items: center;
    }

    .overLay #boton-cerrar{/*boton*/
        right: -15px; /*ajustar boton en esquina superior derecha*/
        top: -30px;
    }
}